<!doctype html>
{% load static %}
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-top.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sudokuJS.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Sudoku Solver</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if selected == 'home' %}
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/stats">Statistics</a></li>
            {% elif selected == 'about' %}
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/stats">Statistics</a></li>
            {% elif selected == 'stats' %}
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/stats">Statistics</a></li>
            {% endif %}
          </ul>
          {% if selected == 'home' %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Algorithm<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" id="algorithm-ac3">AC3</a></li>
                <li><a href="#" id="algorithm-genetic">Genetic</a></li>
                <li><a href="#" id="algorithm-hill">Hill Climbing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Board Size <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if boardSize == '4' %}
                <li class="active"><a href="/4/{{shortDifficulty}}">Small (4x4)</a></li>
                <li><a href="/9/{{shortDifficulty}}">Medium (9x9)</a></li>
                <li><a href="/16/{{shortDifficulty}}">Large (16x16)</a></li>
                {% elif boardSize == '9' %}
                <li><a href="/4/{{shortDifficulty}}">Small (4x4)</a></li>
                <li class="active"><a href="/9/{{shortDifficulty}}">Medium (9x9)</a></li>
                <li><a href="/16/{{shortDifficulty}}">Large (16x16)</a></li>
                {% elif boardSize == '16' %}
                <li><a href="/4/{{shortDifficulty}}">Small (4x4)</a></li>
                <li><a href="/9/{{shortDifficulty}}">Medium (9x9)</a></li>
                <li class="active"><a href="/16/{{shortDifficulty}}">Large (16x16)</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Difficulty <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if shortDifficulty == 'e' %}
                <li class="active"><a href="/{{boardSize}}/e">Easy</a></li>
                <li><a href="/{{boardSize}}/m">Medium</a></li>
                <li><a href="/{{boardSize}}/h">Hard</a></li>
                <li><a href="/{{boardSize}}/vh">Very Hard</a></li>
                {% elif shortDifficulty == 'm' %}
                <li><a href="/{{boardSize}}/e">Easy</a></li>
                <li class="active"><a href="/{{boardSize}}/m">Medium</a></li>
                <li><a href="/{{boardSize}}/h">Hard</a></li>
                <li><a href="/{{boardSize}}/vh">Very Hard</a></li>
                {% elif shortDifficulty == 'h' %}
                <li><a href="/{{boardSize}}/e">Easy</a></li>
                <li><a href="/{{boardSize}}/m">Medium</a></li>
                <li class="active"><a href="/{{boardSize}}/h">Hard</a></li>
                <li><a href="/{{boardSize}}/vh">Very Hard</a></li>
                {% elif shortDifficulty == 'vh' %}
                <li><a href="/{{boardSize}}/e">Easy</a></li>
                <li><a href="/{{boardSize}}/m">Medium</a></li>
                <li><a href="/{{boardSize}}/h">Hard</a></li>
                <li class="active"><a href="/{{boardSize}}/vh">Very Hard</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
