{% extends "base.html" %}
{% load static %}

{% block title %}Data{% endblock %}
{% block content %}

<div class="container">
  <h3>Generating data...</h3>
</div> <!-- /container -->

{% endblock %}
{% block scripts %}
{% csrf_token %}
<script>
  //var size = {{boardSize}};
  //var diff = "{{difficulty}}";
  //var shortDiff = "{{shortDifficulty}}";
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
<script src="{% static 'js/sudokuJS.js' %}"></script>
<script src="{% static 'js/sudokuData.js' %}"></script>
{% endblock %}
