{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}


<div class="container" style="padding-top: 50px">
  <div id='loading' style="text-align: center">
    <h3>Please wait...generating board</h3>
  </div>
  <div id='sudoku' class="sudoku-board"></div>
  <div style="text-align: center; display: none;" id="solveButton">
    <button type="button" class="button btn-primary btn-lg" id="solve">Solve</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var size = {{boardSize}};
  var diff = "{{difficulty}}";
  var shortDiff = "{{shortDifficulty}}";
</script>
<script src="{% static 'js/sudokuJS.js' %}"></script>
<script src="{% static 'js/mysudoku.js' %}"></script>
{% endblock %}
