{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}


<div class="container" style="padding-top: 50px">
  <div id='loading' style="text-align: center">
    <h3>Please wait...generating board</h3>
  </div>
  <div id='sudoku' class="sudoku-board"></div>
  <div style="text-align: center; display: none;" id="solveButton">
    <button type="button" class="button btn-primary btn-lg" id="solve">Solve</button>
  </div>
  <div style="text-align: center; display: none;" id="refreshButton">
    <button type="button" class="button btn-primary btn-lg" id="refresh">New Board</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% csrf_token %}
<script>
$(document).ready(function(){
  $(".dropdown, .btn-group").hover(function(){
    var dropdownMenu = $(this).children(".dropdown-menu");
    if(dropdownMenu.is(":visible")){
      dropdownMenu.parent().toggleClass("open");
    }
  });
});   
var size = {{boardSize}};
var diff = "{{difficulty}}";
var shortDiff = "{{shortDifficulty}}";
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
<script src="{% static 'js/sudokuJS.min.js' %}"></script>
<script src="{% static 'js/mysudoku.js' %}"></script>
{% endblock %}
